[user]
	name = Wojtek Kruszewski
	email = wojtek@oxos.pl
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/wojtek/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[receive]
	denyCurrentBranch = warn
[merge]
	tool = vimdiff
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
